In [2]:
import sqlite3
import pandas as pd
import uuid


connection = sqlite3.connect('books.db')

In [4]:
query_a = """
    SELECT last
    FROM authors
    ORDER BY last DESC 
"""     

result_a = pd.read_sql(query_a, connection)
print(result_a)

      last
0     Wald
1    Quirk
2      Doe
3      Doe
4      Doe
5      Doe
6      Doe
7      Doe
8      Doe
9      Doe
10     Doe
11     Doe
12     Doe
13     Doe
14  Deitel
15  Deitel
16  Deitel

b) # Query to select book titles in ascending order

In [5]:
query_b = """
    SELECT title
    FROM titles
    ORDER BY title ASC
""" 

result_b = pd.read_sql(query_b, connection)
print(result_b)

                               title
0          Android 6 for Programmers
1             Android How to Program
2                   C How to Program
3                 C++ How to Program
4      Internet & WWW How to Program
5      Intro to Python for CS and DS
6                Java How to Program
7                     New Book Title
8                     New Book Title
9                     New Book Title
10                    New Book Title
11                    New Book Title
12                    New Book Title
13                    New Book Title
14  Visual Basic 2012 How to Program
15          Visual C# How to Program
16         Visual C++ How to Program

#c) Use an INNER JOIN to select all the books for a specific author. Include the title, copyright year, and ISBN. Order the information alphabetically by title:

In [6]:
author_id = 1

query_c = f"""
    SELECT titles.title, titles.copyright, author_ISBN.isbn
    FROM titles
    INNER JOIN author_ISBN ON titles.isbn = author_ISBN.isbn
    WHERE author_ISBN.id = {author_id}
    ORDER BY titles.title  ASC 
"""    

result_c = pd.read_sql(query_c, connection)
print(result_c)

                               title copyright              isbn
0          Android 6 for Programmers      2016        0134289366
1             Android How to Program      2017        0134444302
2                   C How to Program      2016        0133976890
3                 C++ How to Program      2017        0134448235
4      Internet & WWW How to Program      2012        0132151006
5      Intro to Python for CS and DS      2020        0135404673
6                Java How to Program      2018        0134743350
7                     New Book Title      2023
8                     New Book Title      2023       author_ISBN
9                     New Book Title      2023      authors_ISBN
10                    New Book Title      2023        authors_id
11                    New Book Title      2023     c1c37c51-0d44
12                    New Book Title      2023     f61fd787-a13c
13                    New Book Title      2023  unique_isbn_here
14  Visual Basic 2012 How to Program      2014        0133406954
15          Visual C# How to Program      2017        0134601548
16         Visual C++ How to Program      2008        0136151574

#d) Insert a new author into the authors table:

In [7]:
query_d = """
    INSERT INTO authors (first, last)
    VALUES ('John', 'Doe')
"""    

connection.execute(query_d)
connection.commit()

#e) Insert a new title for an author:

In [8]:
author_id = 1 
isbn = str(uuid.uuid4())[:13]

query_e = f"""
    INSERT INTO titles (isbn, title, edition, copyright)
    VALUES ('{isbn}', 'New Book Title', '1st Edition', '2023')
"""

connection.execute(query_e)
connection.commit()

query_e_author_isbn = f"""
    INSERT INTO author_ISBN (id, isbn)
    VALUES ({author_id}, '{isbn}')
""" 

connection.execute(query_e_author_isbn)
connection.commit()